.burgerMenu {
    width: 300px;
    background: white;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-110%);
    transition: transform .3s;
}

.activeMenu {
    transform: translate(0);
}

.burgerMenu__items li {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto;
    align-items: center;
    height: 45px;
    border: 1px solid silver;
}

.burgerMenu img {
    height: 30px;
    margin-left: 15px;
}

/* .burgerMenu a {
    color: black;
} */

.logo {
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    font-weight: bold;
    position: relative;
}

.logo__img {
    margin: 15px;
}

.logoSmall {
    font-size: 23px;
}
  
.burgerMenu__catalog {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid silver;
}

.burgerMenu__catalog-icon {
    margin: 0 22px 0 18px;
}

.burgerMenu-info li,
.burgerMenu-help li,
h4 {
    padding: 13px;
    border: 1px solid silver;
    padding-left: 22px;
}

.burgerMenu__apps {
    border: 1px solid silver;
}
.burgerMenu__apps-imgs {
    display: flex;
}

.burgerMenu__apps img {
    height: 35px;
    margin: 0 0 5px 20px;}

.burgerMenu__apps h4 {
    width: 300px;
    border: none;
}

.burgerMenu__close img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}